In [1]:
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
from snowflake.connector import connect,DictCursor
import pandas as pd
import requests
import json

In [2]:
api_key = "6567132011mshed68849c12b0db0p10f15ejsnd58ad5ce4767"  # Aksh
# api_key = "4f16ab08e8msh27e320e3d194653p1e0308jsn539b154232c5" # Divy
# api_key = "8620937591msh4e8402b095c1122p1aa86cjsncc3f82db766b" # Ikram

In [3]:
headers = {
            "x-rapidapi-key": f"{api_key}",
            "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
        }

http_url = "https://cricbuzz-cricket.p.rapidapi.com"

In [4]:
conn = snowflake.connector.connect(
 user='project',
 password='Project@123456',
 account='fzkreem-ojb05768',
 warehouse = 'COMPUTE_WH',
 role = 'ACCOUNTADMIN',
)

In [5]:
cs = conn.cursor()
# cs.execute('CREATE or REPLACE DATABASE "cricbuzz"')
cs.execute('USE DATABASE "cricbuzz"')

In [ ]:
# cs.execute('CREATE OR REPLACE TABLE "cricbuzz_table" ("id" number(10),"rank" number(10),"name" varchar(50),'
# '"country" varchar(20),"rating" number(5),"difference" number(10,2),"points" number(5),"lastUpdatedOn" timestamptz,"trend" varchar(5),'
# '"faceImageId" number(10),"countryId" number(10),"isWomen" varchar(10),"formatType" varchar(10),"category" varchar(20))')

# cs.execute('USE TABLE "cricbuzz_table"')
cs.execute('SHOW TABLES')
TABLES = cs.fetchall()
TABLES

In [ ]:
def get_icc_ranking_player():
    # l = [[0, 'test'], [0, 'odi'], [0, 't20'],[1,'test'], [1, 'odi'], [1, 't20']]
    # l = [[1,'test'],[1,'odi']]
    l = [
        ['batsmen', 'odi', 0],
        ['batsmen', 'test', 0],
        ['batsmen', 't20', 0],
        ['bowlers', 'odi', 0],
        ['bowlers', 'test', 0],
        ['bowlers', 't20', 0],
        ['allrounders', 'odi', 0],
        ['allrounders', 'test', 0],
        ['allrounders', 't20', 0],
        # ['teams', 'odi', 0],
        # ['teams', 'test', 0],
        # ['teams', 't20', 0],
        ['batsmen', 'odi', 1],
        # ['batsmen', 'test', 1],
        ['batsmen', 't20', 1],
        ['bowlers', 'odi', 1],
        # ['bowlers', 'test', 1],
        ['bowlers', 't20', 1],
        ['allrounders', 'odi', 1],
        # ['allrounders', 'test', 1],
        ['allrounders', 't20', 1],
        # ['teams', 'odi', 1],
        # ['teams', 'test', 1],
        # ['teams', 't20', 1]
    ]

    for i in l:
        url = f"{http_url}/stats/v1/rankings/{i[0]}?formatType={i[1]}&isWomen={int(i[2])}"

        try:
            response = requests.get(url, headers=headers)
            response.raise_for_status()  # Check for HTTP errors
            data = response.json()
            
            df = pd.DataFrame(data['rank'])
            df['category'] = i[0]
            df['formatType'] = i[1]
            df['isWomen'] = i[2]

            write_pandas(conn, df, table_name="cricbuzz_table")
            
        except requests.exceptions.RequestException as e:
            print(f"Request failed: {e}")
            continue
        except KeyError as e:
            print(f"Key error: {e}")
            continue
        except Exception as e:
            print(f"An error occurred: {e}")
            continue

In [ ]:
# get_icc_ranking_player()

Request failed: Expecting value: line 1 column 1 (char 0)
Request failed: Expecting value: line 1 column 1 (char 0)
Request failed: Expecting value: line 1 column 1 (char 0)

In [9]:
curr = conn.cursor(DictCursor)
curr.execute('SELECT * FROM "cricbuzz_table"')
data_table = curr.fetchall()
ranking_data = pd.DataFrame(data_table)

In [ ]:
ranking_data

In [ ]:
write_pandas(conn,ranking_data,table_name="cricbuzz_table")

In [16]:
cs.execute('CREATE OR REPLACE TABLE "team_list" ("teamId" number(10),"teamName" varchar(50),"teamSName" varchar(20),"countryName" varchar(20))')

In [17]:
def get_teams_data():   
     try:
          url = f"{http_url}/teams/v1/international"
          response = requests.get(url, headers=headers)
          response.raise_for_status() 
          data = response.json()
          
          for i in data['list']:
               if i['teamName'] == 'Associate Teams':
                    break 
               
               if len(i) < 2:
                    continue

               print(i)
               i.pop('imageId')
               df1 = pd.DataFrame([i])  # Corrected DataFrame creation
               write_pandas(conn, df1, table_name="team_list")

     except requests.exceptions.RequestException as e:
          print(f"Request failed: {e}")
     except Exception as e:
          print(f"An error occurred: {e}")

In [ ]:
# get_teams_data()

In [7]:
curr = conn.cursor(DictCursor)
curr.execute('SELECT * FROM "team_list"')
data_table = curr.fetchall()
pd.DataFrame(data_table)

    teamId      teamName teamSName countryName
0        2         India       IND       India
1       96   Afghanistan       AFG        None
2       27       Ireland       IRE        None
3        3      Pakistan       PAK    Pakistan
4        4     Australia       AUS   Australia
5        5     Sri Lanka        SL   Sri Lanka
6        6    Bangladesh       BAN        None
7        9       England       ENG        None
8       10   West Indies        WI        None
9       11  South Africa       RSA        None
10      12      Zimbabwe       ZIM        None
11      13   New Zealand        NZ        None

In [40]:
cs.execute('CREATE OR REPLACE TABLE "team_players" ("id" number(10),"name" varchar(50),"battingStyle" varchar(50),"bowlingStyle" varchar(50),"role" varchar(20),"teamId" number(10))')

In [8]:
def get_temas_player():
    teamId = 9
    role = ''
    url = f"{http_url}/teams/v1/{teamId}/players"
    
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()  # Check for HTTP errors
        data = response.json()
        
        for i in data['player']:
            if i['name'] == 'BATSMEN':
                role = 'Batsman'
                continue
            elif i['name'] == 'ALL ROUNDER':
                role = 'Allrounder'
                continue
            elif i['name'] == 'WICKET KEEPER':
                role = 'WK-Batsman'
                continue
            elif i['name'] == 'BOWLER':
                role = 'Bowler'
                continue

            i['role'] = role
            i['teamId'] = teamId
            i.pop('imageId', None)
            print(i)
            
            df1 = pd.DataFrame([i])
            write_pandas(conn, df1, table_name="team_players")
            
    except requests.exceptions.RequestException as e:
        print(f"Request failed: {e}")
    except KeyError as e:
        print(f"Key error: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")

In [9]:
get_temas_player()

{'id': '624', 'name': 'Eoin Morgan', 'battingStyle': 'Left-hand bat', 'bowlingStyle': 'Right-arm medium', 'role': 'Batsman', 'teamId': 9}
{'id': '8019', 'name': 'Joe Root', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm offbreak', 'role': 'Batsman', 'teamId': 9}
{'id': '6534', 'name': 'Jason Roy', 'battingStyle': 'Right-hand bat', 'role': 'Batsman', 'teamId': 9}
{'id': '6660', 'name': 'Dawid Malan', 'battingStyle': 'Left-hand bat', 'bowlingStyle': 'Right-arm legbreak', 'role': 'Batsman', 'teamId': 9}
{'id': '6692', 'name': 'Moeen Ali', 'battingStyle': 'Left-hand bat', 'bowlingStyle': 'Right-arm offbreak', 'role': 'Allrounder', 'teamId': 9}
{'id': '6557', 'name': 'Ben Stokes', 'battingStyle': 'Left-hand bat', 'bowlingStyle': 'Right-arm fast-medium', 'role': 'Allrounder', 'teamId': 9}
{'id': '10045', 'name': 'Liam Livingstone', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm legbreak', 'role': 'Allrounder', 'teamId': 9}
{'id': '6670', 'name': 'Chris Woakes', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm fast-medium', 'role': 'Allrounder', 'teamId': 9}
{'id': '9522', 'name': 'Tom Curran', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm fast-medium', 'role': 'Allrounder', 'teamId': 9}
{'id': '7854', 'name': 'Lewis Gregory', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm fast-medium', 'role': 'Allrounder', 'teamId': 9}
{'id': '10420', 'name': 'Sam Curran', 'battingStyle': 'Left-hand bat', 'bowlingStyle': 'Left-arm fast-medium', 'role': 'Allrounder', 'teamId': 9}
{'id': '6507', 'name': 'Jonny Bairstow', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm medium', 'role': 'WK-Batsman', 'teamId': 9}
{'id': '2258', 'name': 'Jos Buttler', 'battingStyle': 'Right-hand bat', 'role': 'WK-Batsman', 'teamId': 9}
{'id': '7990', 'name': 'Sam Billings', 'battingStyle': 'Right-hand bat', 'role': 'WK-Batsman', 'teamId': 9}
{'id': '1742', 'name': 'Adil Rashid', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm legbreak', 'role': 'Bowler', 'teamId': 9}
{'id': '8383', 'name': 'Mark Wood', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm fast', 'role': 'Bowler', 'teamId': 9}
{'id': '11540', 'name': 'Jofra Archer', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm fast', 'role': 'Bowler', 'teamId': 9}
{'id': '8022', 'name': 'Olly Stone', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm fast', 'role': 'Bowler', 'teamId': 9}
{'id': '8349', 'name': 'Reece Topley', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Left-arm fast-medium', 'role': 'Bowler', 'teamId': 9}
{'id': '6532', 'name': 'Chris Jordan', 'battingStyle': 'Right-hand bat', 'bowlingStyle': 'Right-arm fast-medium', 'role': 'Bowler', 'teamId': 9}

In [10]:
curr = conn.cursor(DictCursor)
curr.execute('SELECT * FROM team_players_main where teamId = 9')
data_table = curr.fetchall()
team_p = pd.DataFrame(data_table)

In [ ]:
# url = f"{http_url}/stats/v1/player/1413/batting"
# response = requests.get(url, headers=headers)
# response.raise_for_status()  # Check for HTTP errors
# data = response.json()

In [11]:
# data
team_p

,ID,NAME,BATTINGSTYLE,BOWLINGSTYLE,ROLE,TEAMID
0,8383,Mark Wood,Right-hand bat,Right-arm fast,Bowler,9
1,6692,Moeen Ali,Left-hand bat,Right-arm offbreak,Allrounder,9
2,9522,Tom Curran,Right-hand bat,Right-arm fast-medium,Allrounder,9
3,10045,Liam Livingstone,Right-hand bat,Right-arm legbreak,Allrounder,9
4,7990,Sam Billings,Right-hand bat,None,WK-Batsman,9
5,1742,Adil Rashid,Right-hand bat,Right-arm legbreak,Bowler,9
6,6534,Jason Roy,Right-hand bat,None,Batsman,9
7,6557,Ben Stokes,Left-hand bat,Right-arm fast-medium,Allrounder,9
8,8349,Reece Topley,Right-hand bat,Left-arm fast-medium,Bowler,9
9,11540,Jofra Archer,Right-hand bat,Right-arm fast,Bowler,9
10,2258,Jos Buttler,Right-hand bat,None,WK-Batsman,9
11,6670,Chris Woakes,Right-hand bat,Right-arm fast-medium,Allrounder,9
12,10420,Sam Curran,Left-hand bat,Left-arm fast-medium,Allrounder,9
13,7854,Lewis Gregory,Right-hand bat,Right-arm fast-medium,Allrounder,9
14,624,Eoin Morgan,Left-hand bat,Right-arm medium,Batsman,9
15,6660,Dawid Malan,Left-hand bat,Right-arm legbreak,Batsman,9
16,8022,Olly Stone,Right-hand bat,Right-arm fast,Bowler,9
17,6507,Jonny Bairstow,Right-hand bat,Right-arm medium,WK-Batsman,9
18,8019,Joe Root,Right-hand bat,Right-arm offbreak,Batsman,9
19,6532,Chris Jordan,Right-hand bat,Right-arm fast-medium,Bowler,9

In [129]:
# create_table_query = """
# CREATE or replace TABLE PLAYER_BATTING_STATS (
#     PlayerID NUMBER(10, 0),
#     PlayerName VARCHAR(20),
#     Format VARCHAR(20),
#     Matches NUMBER(10, 0),
#     Innings NUMBER(10, 0),
#     Runs NUMBER(10, 0),
#     Balls NUMBER(10, 0),
#     Highest NUMBER(10, 0),
#     Average NUMBER(10, 2),
#     SR NUMBER(10, 2),
#     NotOut NUMBER(10, 0),
#     Fours NUMBER(10, 0),
#     Sixes NUMBER(10, 0),
#     Ducks NUMBER(10, 0),
#     Fifties NUMBER(10, 0),
#     Hundreds NUMBER(10, 0),
#     DoubleHundreds NUMBER(10, 0),
#     TripleHundreds NUMBER(10, 0),
#     QuadrupleHundreds NUMBER(10, 0)
# )
# """
# cs.execute(create_table_query)

In [ ]:
# create_table_query = """
# CREATE or replace TABLE PLAYER_BOWLING_STATS (
#     PlayerID NUMBER(10, 0),
#     PlayerName VARCHAR(20),
#     Format VARCHAR(20),
#     Matches NUMBER(10, 0),
#     Innings NUMBER(10, 0),
#     Balls NUMBER(10, 0),
#     Runs NUMBER(10, 0),
#     Maidens NUMBER(10, 0),
#     Wickets NUMBER(10, 0),
#     Avg NUMBER(10,2),
#     Eco NUMBER(10,2),
#     SR NUMBER(10, 2),
#     BBI VARCHAR(20),
#     BBM VARCHAR(20),
#     FourW NUMBER(10,0),
#     FiveW NUMBER(10,0),
#     TenW NUMBER(10,0)
# )
# """
# cs.execute(create_table_query)

In [17]:
import time

def fetch_player_data(player_id):
    # url = f"{http_url}/stats/v1/player/{player_id}/batting"
    url = f"{http_url}/stats/v1/player/{player_id}/bowling"
    
    # response = requests.get(url, headers=headers)
    # response.raise_for_status()  
    # return response.json()
    
    retries = 5
    for i in range(retries):
        response = requests.get(url, headers=headers)
        if response.status_code == 503:
            wait_time = 2 ** i  # Exponential backoff
            print(f"Service unavailable. Retrying in {wait_time} seconds...")
            time.sleep(wait_time)
        else:
            response.raise_for_status()  # Check for other HTTP errors
            return response.json()
    raise Exception("Failed to fetch data after multiple retries")

def process_data(data, player_id, player_name):
    headers = data['headers'][1:]  # Skip 'ROWHEADER'
    values = data['values']
    
    records = []
    for i, format in enumerate(headers):
        record = {}
        
        record['PlayerID'] = player_id
        record['Format'] = format
        record['PlayerName'] = player_name
        
        for _,val in enumerate(values):
            col_name = val['values'][0]
            # record[col_name] = float(val['values'][i+1]) if '.' in val['values'][i+1] else int(val['values'][i+1])
            if '.' in val['values'][i+1] :
                record[col_name] = float(val['values'][i+1])
            elif '/' in val['values'][i + 1]:
                record[col_name] = str(val['values'][i+1])
            else :
                record[col_name] = int(val['values'][i+1])
                
        records.append(record)
         
    return records

In [18]:
all_records = []

for player_id in team_p['ID']:
    data = fetch_player_data(player_id)
    player_name = team_p.loc[team_p['ID'] == player_id,'NAME'].values[0]
    records = process_data(data, player_id, player_name)
    all_records.extend(records)
    
player_stats_df = pd.DataFrame(all_records)
print(player_stats_df.to_string())

    PlayerID Format        PlayerName  Matches  Innings  Balls  Runs  Maidens  Wickets     Avg    Eco      SR   BBI     BBM  4w  5w  10w
0       8383   Test         Mark Wood       37       69   6544  3621      196      119   30.43   3.32   54.99  6/37   9/100   3   5    0
1       8383    ODI         Mark Wood       70       69   3506  3267       19       80   40.84   5.59   43.83  4/33    4/33   2   0    0
2       8383    T20         Mark Wood       38       37    776  1099        1       54   20.35   8.50   14.37   3/9     3/9   0   0    0
3       8383    IPL         Mark Wood        5        5    120   179        1       11   16.27   8.95   10.91  5/14    5/14   0   1    0
4       6692   Test         Moeen Ali       68      119  12610  7612      292      204   37.31   3.62   61.81  6/53  10/112  13   5    1
5       6692    ODI         Moeen Ali      138      128   5988  5311       13      111   47.85   5.32   53.95  4/46    4/46   2   0    0
6       6692    T20         Moeen Ali       92       71    999  1384        1       51   27.14   8.31   19.59  3/24    3/24   0   0    0
7       6692    IPL         Moeen Ali       67       52    758   893        0       35   25.51   7.07   21.66  4/26    4/26   1   0    0
8       9522   Test        Tom Curran        2        3    396   200       14        2  100.00   3.03  198.00  1/65    1/82   0   0    0
9       9522    ODI        Tom Curran       28       28   1308  1290        8       34   37.94   5.92   38.47  5/35    5/35   2   1    0
10      9522    T20        Tom Curran       30       29    588   907        1       29   31.28   9.26   20.28  4/36    4/36   1   0    0
11      9522    IPL        Tom Curran       13       13    238   430        0       13   33.08  10.84   18.31  3/29    3/29   0   0    0
12     10045   Test  Liam Livingstone        1        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
13     10045    ODI  Liam Livingstone       39       31    968   982        2       25   39.28   6.09   38.72  3/16    3/16   0   0    0
14     10045    T20  Liam Livingstone       60       41    576   838        1       33   25.39   8.73   17.45  3/17    3/17   0   0    0
15     10045    IPL  Liam Livingstone       39       22    258   393        0       11   35.73   9.14   23.45  3/27    3/27   0   0    0
16      7990   Test      Sam Billings        3        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
17      7990    ODI      Sam Billings       28        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
18      7990    T20      Sam Billings       37        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
19      7990    IPL      Sam Billings       30        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
20      1742   Test       Adil Rashid       19       34   3816  2390       50       60   39.83   3.76   63.60  5/49   7/178   5   2    0
21      1742    ODI       Adil Rashid      149      143   7517  7058       14      215   32.83   5.63   34.96  5/27    5/27   9   2    0
22      1742    T20       Adil Rashid      124      119   2600  3190        5      131   24.35   7.36   19.85   4/2     4/2   3   0    0
23      1742    IPL       Adil Rashid        3        3     60    91        0        2   45.50   9.10   30.00  2/23    2/23   0   0    0
24      6534   Test         Jason Roy        5        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
25      6534    ODI         Jason Roy      116        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
26      6534    T20         Jason Roy       64        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
27      6534    IPL         Jason Roy       21        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
28      6557   Test        Ben Stokes      110      160  12252  6798      359      210   32.37   3.33   58.34  6/22   8/161   8   4    0
29      6557    ODI        Ben Stokes      114       88   3110  3137        8       74   42.39   6.05   42.03  5/61    5/61   1   1    0
30      6557    T20        Ben Stokes       43       36    612   856        1       26   32.92   8.39   23.54  3/26    3/26   0   0    0
31      6557    IPL        Ben Stokes       45       38    689   992        2       28   35.43   8.64   24.61  3/15    3/15   0   0    0
32      8349   Test      Reece Topley        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
33      8349    ODI      Reece Topley       30       30   1392  1257       17       47   26.74   5.42   29.62  6/24    6/24   2   1    0
34      8349    T20      Reece Topley       35       35    706   978        0       33   29.64   8.31   21.39  3/22    3/22   0   0    0
35      8349    IPL      Reece Topley        5        5    102   182        0        5   36.40  10.71   20.40  2/27    2/27   0   0    0
36     11540   Test      Jofra Archer       13       24   2609  1304       95       42   31.05   3.00   62.12  6/45    8/85   0   3    0
37     11540    ODI      Jofra Archer       31       31   1631  1421       18       54   26.31   5.23   30.20  6/40    6/40   0   1    0
38     11540    T20      Jofra Archer       34       34    754  1002        2       41   24.44   7.97   18.39  4/33    4/33   1   0    0
39     11540    IPL      Jofra Archer       40       40    945  1171        2       48   24.40   7.43   19.69  3/15    3/15   0   0    0
40      2258   Test       Jos Buttler       57        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
41      2258    ODI       Jos Buttler      187        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
42      2258    T20       Jos Buttler      134        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
43      2258    IPL       Jos Buttler      107        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
44      6670   Test      Chris Woakes       57      109  10133  5112      380      181   28.24   3.03   55.98  6/17  11/102   5   5    1
45      6670    ODI      Chris Woakes      122      118   5737  5193       53      173   30.02   5.43   33.16  6/45    6/45  11   3    0
46      6670    T20      Chris Woakes       33       33    611   822        1       31   26.52   8.07   19.71   3/4     3/4   0   0    0
47      6670    IPL      Chris Woakes       21       21    440   658        0       30   21.93   8.97   14.67   3/6     3/6   0   0    0
48     10420   Test        Sam Curran       24       42   3091  1669       96       47   35.51   3.24   65.77  4/58    5/92   2   0    0
49     10420    ODI        Sam Curran       35       35   1325  1376       10       33   41.70   6.23   40.15  5/48    5/48   1   1    0
50     10420    T20        Sam Curran       58       57   1043  1462        2       54   27.07   8.41   19.31  5/10    5/10   0   1    0
51     10420    IPL        Sam Curran       59       58   1181  1900        0       58   32.76   9.65   20.36  4/11    4/11   1   0    0
52      7854   Test     Lewis Gregory        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
53      7854    ODI     Lewis Gregory        3        3    114    97        1        4   24.25   5.11   28.50  3/44    3/44   0   0    0
54      7854    T20     Lewis Gregory        9        5     78   117        0        2   58.50   9.00   39.00  1/10    1/10   0   0    0
55      7854    IPL     Lewis Gregory        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
56       624   Test       Eoin Morgan       16        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
57       624    ODI       Eoin Morgan      248        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
58       624    T20       Eoin Morgan      115        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
59       624    IPL       Eoin Morgan       83        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
60      6660   Test       Dawid Malan       22        8    222   131        4        2   65.50   3.54  111.00  2/33    2/33   0   0    0
61      6660    ODI       Dawid Malan       30        2     15    17        0        1   17.00   6.80   15.00   1/5     1/5   0   0    0
62      6660    T20       Dawid Malan       62        1     12    27        0        1   27.00  13.50   12.00  1/27    1/27   0   0    0
63      6660    IPL       Dawid Malan        1        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
64      8022   Test        Olly Stone        5        9    610   400       17       17   23.53   3.93   35.88  3/29    4/68   0   0    0
65      8022    ODI        Olly Stone       10        9    394   399        2        9   44.33   6.08   43.78  4/85    4/85   1   0    0
66      8022    T20        Olly Stone        1        1     24    36        0        0    0.00   9.00    0.00  0/36    0/36   0   0    0
67      8022    IPL        Olly Stone        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
68      6507   Test    Jonny Bairstow      100        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
69      6507    ODI    Jonny Bairstow      107        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
70      6507    T20    Jonny Bairstow       80        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
71      6507    IPL    Jonny Bairstow       50        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
72      8019   Test          Joe Root      152      156   5851  3221      158       71   45.37   3.30   82.41   5/8    5/33   2   1    0
73      8019    ODI          Joe Root      177       77   1755  1731        2       28   61.82   5.92   62.68  3/52    3/52   0   0    0
74      8019    T20          Joe Root       32        9     84   139        0        6   23.17   9.93   14.00   2/9     2/9   0   0    0
75      8019    IPL          Joe Root        3        1     12    14        0        0    0.00   7.00    0.00  0/14    0/14   0   0    0
76      6532   Test      Chris Jordan        8       16   1530   752       74       21   35.81   2.95   72.86  4/18    7/50   1   0    0
77      6532    ODI      Chris Jordan       35       35   1660  1660        5       46   36.09   6.00   36.09  5/29    5/29   0   1    0
78      6532    T20      Chris Jordan       95       94   1953  2846        2      108   26.35   8.74   18.08   4/6     4/6   4   0    0
79      6532    IPL      Chris Jordan       34       34    668  1070        1       30   35.67   9.61   22.27  4/11    4/11   1   0    0

In [ ]:
# for index, row in player_stats_df.iterrows():
#     insert_query = f"""
#     INSERT INTO PLAYER_BATTING_STATS (
#         PlayerID, PlayerName, Format, Matches, Innings, Runs, Balls, Highest, Average, SR, NotOut, Fours, Sixes, Ducks, Fifties, Hundreds, DoubleHundreds, TripleHundreds, QuadrupleHundreds
#     ) VALUES (
#         {row['PlayerID']}, '{row['PlayerName']}', '{row['Format']}', {row['Matches']}, {row['Innings']}, {row['Runs']}, {row['Balls']}, {row['Highest']}, {row['Average']}, {row['SR']}, {row['Not Out']}, {row['Fours']}, {row['Sixes']}, {row['Ducks']}, {row['50s']}, {row['100s']}, {row['200s']}, {row['300s']}, {row['400s']}
#     )
#     """
#     cs.execute(insert_query)

In [19]:
for index, row in player_stats_df.iterrows():
    insert_query = f"""
    INSERT INTO PLAYER_BOWLING_STATS (
        PlayerID, PlayerName, Format, Matches, Innings, Balls, Runs, Maidens, Wickets,Avg,Eco, SR, BBI, BBM , FourW , FiveW , TenW
    ) VALUES (
        {row['PlayerID']}, '{row['PlayerName']}', '{row['Format']}', {row['Matches']}, {row['Innings']}, {row['Balls']},{row['Runs']}, {row['Maidens']}, {row['Wickets']}, {row['Avg']}, {row['Eco']}, {row['SR']}, '{row['BBI']}', '{row['BBM']}', {row['4w']}, {row['5w']}, {row['10w']}
    )
    """
    cs.execute(insert_query)

In [142]:
# curr = conn.cursor(DictCursor)
# curr.execute('SELECT * FROM PLAYER_BATTING_STATS')
# data_table = curr.fetchall()
# player_batting = pd.DataFrame(data_table)


curr = conn.cursor(DictCursor)
curr.execute('SELECT * FROM PLAYER_BOWLING_STATS')
data_table = curr.fetchall()
player_batting = pd.DataFrame(data_table)

In [ ]:
print(player_batting.to_string())