In [1]:
import snowflake.connector
from snowflake.connector.pandas_tools import write_pandas
from snowflake.connector import connect,DictCursor
import pandas as pd
import requests
import json

In [19]:
# api_key = "6567132011mshed68849c12b0db0p10f15ejsnd58ad5ce4767"  # Aksh
api_key = "4f16ab08e8msh27e320e3d194653p1e0308jsn539b154232c5" # Divy
# api_key = "8620937591msh4e8402b095c1122p1aa86cjsncc3f82db766b" # Ikram

In [20]:
headers = {
            "x-rapidapi-key": f"{api_key}",
            "x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com"
        }

http_url = "https://cricbuzz-cricket.p.rapidapi.com"

In [5]:
conn = snowflake.connector.connect(
 user='project',
 password='Project@1234567',
 account='fzkreem-ojb05768',
 warehouse = 'COMPUTE_WH',
 role = 'ACCOUNTADMIN',
)

In [21]:
cs = conn.cursor()
# cs.execute('CREATE or REPLACE DATABASE "cricbuzz"')
cs.execute('USE DATABASE "cricbuzz"')

In [ ]:
# cs.execute('CREATE OR REPLACE TABLE "cricbuzz_table" ("id" number(10),"rank" number(10),"name" varchar(50),'
# '"country" varchar(20),"rating" number(5),"difference" number(10,2),"points" number(5),"lastUpdatedOn" timestamptz,"trend" varchar(5),'
# '"faceImageId" number(10),"countryId" number(10),"isWomen" varchar(10),"formatType" varchar(10),"category" varchar(20))')

# cs.execute('USE TABLE "cricbuzz_table"')
cs.execute('SHOW TABLES')
TABLES = cs.fetchall()
TABLES

In [ ]:
def get_icc_ranking_player():
    # l = [[0, 'test'], [0, 'odi'], [0, 't20'],[1,'test'], [1, 'odi'], [1, 't20']]
    # l = [[1,'test'],[1,'odi']]
    l = [
        ['batsmen', 'odi', 0],
        ['batsmen', 'test', 0],
        ['batsmen', 't20', 0],
        ['bowlers', 'odi', 0],
        ['bowlers', 'test', 0],
        ['bowlers', 't20', 0],
        ['allrounders', 'odi', 0],
        ['allrounders', 'test', 0],
        ['allrounders', 't20', 0],
        # ['teams', 'odi', 0],
        # ['teams', 'test', 0],
        # ['teams', 't20', 0],
        ['batsmen', 'odi', 1],
        # ['batsmen', 'test', 1],
        ['batsmen', 't20', 1],
        ['bowlers', 'odi', 1],
        # ['bowlers', 'test', 1],
        ['bowlers', 't20', 1],
        ['allrounders', 'odi', 1],
        # ['allrounders', 'test', 1],
        ['allrounders', 't20', 1],
        # ['teams', 'odi', 1],
        # ['teams', 'test', 1],
        # ['teams', 't20', 1]
    ]

    for i in l:
        url = f"{http_url}/stats/v1/rankings/{i[0]}?formatType={i[1]}&isWomen={int(i[2])}"

        try:
            response = requests.get(url, headers=headers)
            response.raise_for_status()  # Check for HTTP errors
            data = response.json()
            
            df = pd.DataFrame(data['rank'])
            df['category'] = i[0]
            df['formatType'] = i[1]
            df['isWomen'] = i[2]

            write_pandas(conn, df, table_name="cricbuzz_table")
            
        except requests.exceptions.RequestException as e:
            print(f"Request failed: {e}")
            continue
        except KeyError as e:
            print(f"Key error: {e}")
            continue
        except Exception as e:
            print(f"An error occurred: {e}")
            continue

In [ ]:
# get_icc_ranking_player()

Request failed: Expecting value: line 1 column 1 (char 0)
Request failed: Expecting value: line 1 column 1 (char 0)
Request failed: Expecting value: line 1 column 1 (char 0)

In [9]:
curr = conn.cursor(DictCursor)
curr.execute('SELECT * FROM "cricbuzz_table"')
data_table = curr.fetchall()
ranking_data = pd.DataFrame(data_table)

In [ ]:
ranking_data

In [ ]:
write_pandas(conn,ranking_data,table_name="cricbuzz_table")

In [16]:
cs.execute('CREATE OR REPLACE TABLE "team_list" ("teamId" number(10),"teamName" varchar(50),"teamSName" varchar(20),"countryName" varchar(20))')

In [17]:
def get_teams_data():   
     try:
          url = f"{http_url}/teams/v1/international"
          response = requests.get(url, headers=headers)
          response.raise_for_status() 
          data = response.json()
          
          for i in data['list']:
               if i['teamName'] == 'Associate Teams':
                    break 
               
               if len(i) < 2:
                    continue

               print(i)
               i.pop('imageId')
               df1 = pd.DataFrame([i])  # Corrected DataFrame creation
               write_pandas(conn, df1, table_name="team_list")

     except requests.exceptions.RequestException as e:
          print(f"Request failed: {e}")
     except Exception as e:
          print(f"An error occurred: {e}")

In [ ]:
# get_teams_data()

In [7]:
curr = conn.cursor(DictCursor)
curr.execute('SELECT * FROM "team_list"')
data_table = curr.fetchall()
pd.DataFrame(data_table)

    teamId      teamName teamSName countryName
0        2         India       IND       India
1       96   Afghanistan       AFG        None
2       27       Ireland       IRE        None
3        3      Pakistan       PAK    Pakistan
4        4     Australia       AUS   Australia
5        5     Sri Lanka        SL   Sri Lanka
6        6    Bangladesh       BAN        None
7        9       England       ENG        None
8       10   West Indies        WI        None
9       11  South Africa       RSA        None
10      12      Zimbabwe       ZIM        None
11      13   New Zealand        NZ        None

In [40]:
cs.execute('CREATE OR REPLACE TABLE "team_players" ("id" number(10),"name" varchar(50),"battingStyle" varchar(50),"bowlingStyle" varchar(50),"role" varchar(20),"teamId" number(10))')

In [8]:
def get_temas_player():
    teamId = 9
    role = ''
    url = f"{http_url}/teams/v1/{teamId}/players"
    
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()  # Check for HTTP errors
        data = response.json()
        
        for i in data['player']:
            if i['name'] == 'BATSMEN':
                role = 'Batsman'
                continue
            elif i['name'] == 'ALL ROUNDER':
                role = 'Allrounder'
                continue
            elif i['name'] == 'WICKET KEEPER':
                role = 'WK-Batsman'
                continue
            elif i['name'] == 'BOWLER':
                role = 'Bowler'
                continue

            i['role'] = role
            i['teamId'] = teamId
            i.pop('imageId', None)
            print(i)
            
            df1 = pd.DataFrame([i])
            write_pandas(conn, df1, table_name="team_players")
            
    except requests.exceptions.RequestException as e:
        print(f"Request failed: {e}")
    except KeyError as e:
        print(f"Key error: {e}")
    except Exception as e:
        print(f"An error occurred: {e}")

In [ ]:
get_temas_player()

In [10]:
curr = conn.cursor(DictCursor)
curr.execute('SELECT * FROM team_players_main where teamId = 9')
data_table = curr.fetchall()
team_p = pd.DataFrame(data_table)

In [ ]:
# url = f"{http_url}/stats/v1/player/1413/batting"
# response = requests.get(url, headers=headers)
# response.raise_for_status()  # Check for HTTP errors
# data = response.json()

In [ ]:
# data
team_p

In [129]:
# create_table_query = """
# CREATE or replace TABLE PLAYER_BATTING_STATS (
#     PlayerID NUMBER(10, 0),
#     PlayerName VARCHAR(20),
#     Format VARCHAR(20),
#     Matches NUMBER(10, 0),
#     Innings NUMBER(10, 0),
#     Runs NUMBER(10, 0),
#     Balls NUMBER(10, 0),
#     Highest NUMBER(10, 0),
#     Average NUMBER(10, 2),
#     SR NUMBER(10, 2),
#     NotOut NUMBER(10, 0),
#     Fours NUMBER(10, 0),
#     Sixes NUMBER(10, 0),
#     Ducks NUMBER(10, 0),
#     Fifties NUMBER(10, 0),
#     Hundreds NUMBER(10, 0),
#     DoubleHundreds NUMBER(10, 0),
#     TripleHundreds NUMBER(10, 0),
#     QuadrupleHundreds NUMBER(10, 0)
# )
# """
# cs.execute(create_table_query)

In [ ]:
# create_table_query = """
# CREATE or replace TABLE PLAYER_BOWLING_STATS (
#     PlayerID NUMBER(10, 0),
#     PlayerName VARCHAR(20),
#     Format VARCHAR(20),
#     Matches NUMBER(10, 0),
#     Innings NUMBER(10, 0),
#     Balls NUMBER(10, 0),
#     Runs NUMBER(10, 0),
#     Maidens NUMBER(10, 0),
#     Wickets NUMBER(10, 0),
#     Avg NUMBER(10,2),
#     Eco NUMBER(10,2),
#     SR NUMBER(10, 2),
#     BBI VARCHAR(20),
#     BBM VARCHAR(20),
#     FourW NUMBER(10,0),
#     FiveW NUMBER(10,0),
#     TenW NUMBER(10,0)
# )
# """
# cs.execute(create_table_query)

In [32]:
import time

def fetch_player_data(player_id):
    # url = f"{http_url}/stats/v1/player/{player_id}/batting"
    url = f"{http_url}/stats/v1/player/{player_id}/bowling"
    
    # response = requests.get(url, headers=headers)
    # response.raise_for_status()  
    # return response.json()
    
    retries = 5
    for i in range(retries):
        response = requests.get(url, headers=headers)
        if response.status_code == 503:
            wait_time = 2 ** i  # Exponential backoff
            print(f"Service unavailable. Retrying in {wait_time} seconds...")
            time.sleep(wait_time)
        else:
            response.raise_for_status()  # Check for other HTTP errors
            return response.json()
    raise Exception("Failed to fetch data after multiple retries")

def process_data(data, player_id, player_name):
    headers = data['headers'][1:]  # Skip 'ROWHEADER'
    values = data['values']
    
    records = []
    for i, format in enumerate(headers):
        record = {}
        
        record['PlayerID'] = player_id
        record['Format'] = format
        record['PlayerName'] = player_name
        
        for _,val in enumerate(values):
            col_name = val['values'][0]
            # record[col_name] = float(val['values'][i+1]) if '.' in val['values'][i+1] else int(val['values'][i+1])
            if '.' in val['values'][i+1] :
                record[col_name] = float(val['values'][i+1])
            elif '/' in val['values'][i + 1]:
                record[col_name] = str(val['values'][i+1])
            else :
                record[col_name] = int(val['values'][i+1])
                
        records.append(record)
         
    return records

In [29]:
curr = conn.cursor(DictCursor)
curr.execute('SELECT * FROM team_players_main')
data_table = curr.fetchall()
team_p = pd.DataFrame(data_table)
team_p["ID"]

0     10394
1     24729
2      8808
3      8502
4     12201
      ...
92     6660
93     8022
94     6507
95     8019
96     6532
Name: ID, Length: 97, dtype: int64

In [31]:
curr = conn.cursor(DictCursor)
curr.execute('SELECT distinct playerId FROM PLAYER_BOWLING_STATS')
data_table = curr.fetchall()
player_batting = pd.DataFrame(data_table)
player_batting["PLAYERID"]

0      1413
1       576
2      1446
3     11808
4      9428
      ...
68     1437
69    13162
70    10626
71     1643
72      624
Name: PLAYERID, Length: 73, dtype: int64

In [33]:
all_records = []

for player_id in team_p['ID']:
    if player_id in list(player_batting["PLAYERID"]):
        print("hello i am here")
    else :
        data = fetch_player_data(player_id)
        player_name = team_p.loc[team_p['ID'] == player_id,'NAME'].values[0]
        records = process_data(data, player_id, player_name)
        all_records.extend(records)
    
player_stats_df = pd.DataFrame(all_records)
print(player_stats_df.to_string())

hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
hello i am here
    PlayerID Format           PlayerName  Matches  Innings  Balls  Runs  Maidens  Wickets     Avg    Eco      SR   BBI     BBM  4w  5w  10w
0      10394   Test        Saqib Mahmood        2        4    366   137       17        6   22.83   2.25   61.00  2/21    4/79   0   0    0
1      10394    ODI        Saqib Mahmood       13       13    633   558        5       17   32.82   5.29   37.24  4/42    4/42   1   0    0
2      10394    T20        Saqib Mahmood       19       18    378   586        2       21   27.90   9.30   18.00  4/34    4/34   1   0    0
3      10394    IPL        Saqib Mahmood        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
4      24729   Test         Harshit Rana        2        3    270   203        6        4   50.75   4.51   67.50  3/48   4/117   0   0    0
5      24729    ODI         Harshit Rana        5        5    218   207        2       10   20.70   5.70   21.80  3/31    3/31   0   0    0
6      24729    T20         Harshit Rana        1        1     24    33        0        3   11.00   8.25    8.00  3/33    3/33   0   0    0
7      24729    IPL         Harshit Rana       20       19    385   581        1       25   23.24   9.05   15.40  3/24    3/24   0   0    0
8       8808   Test           Axar Patel       14       27   2540  1064       96       55   19.35   2.51   46.18  6/38   11/70   2   5    1
9       8808    ODI           Axar Patel       68       63   3167  2372       23       72   32.94   4.49   43.99  3/24    3/24   0   0    0
10      8808    T20           Axar Patel       71       68   1291  1571        3       71   22.13   7.30   18.18   3/9     3/9   0   0    0
11      8808    IPL           Axar Patel      150      148   3099  3758        2      123   30.55   7.28   25.20  4/21    4/21   1   0    0
12      8502   Test          Ben Duckett       32        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
13      8502    ODI          Ben Duckett       22        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
14      8502    T20          Ben Duckett       17        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
15      8502    IPL          Ben Duckett        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
16     12201   Test          Harry Brook       24        4     96    50        2        1   50.00   3.13   96.00  1/25    1/25   0   0    0
17     12201    ODI          Harry Brook       26        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
18     12201    T20          Harry Brook       44        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
19     12201    IPL          Harry Brook       11        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
20     13681   Test         Gus Atkinson       11       21   1852  1152       51       52   22.15   3.73   35.62  7/45  12/106   2   3    1
21     13681    ODI         Gus Atkinson       11       11    472   528        0       13   40.62   6.71   36.31  2/28    2/28   0   0    0
22     13681    T20         Gus Atkinson        4        4     65   122        0        6   20.33  11.26   10.83  4/20    4/20   1   0    0
23     13681    IPL         Gus Atkinson        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
24     10479   Test          Philip Salt        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
25     10479    ODI          Philip Salt       33        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
26     10479    T20          Philip Salt       43        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
27     10479    IPL          Philip Salt       21        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
28     14701   Test   Nitish Kumar Reddy        5        9    264   190        3        5   38.00   4.32   52.80  2/32    2/42   0   0    0
29     14701    ODI   Nitish Kumar Reddy        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
30     14701    T20   Nitish Kumar Reddy        4        3     54    71        0        3   23.67   7.89   18.00  2/23    2/23   0   0    0
31     14701    IPL   Nitish Kumar Reddy       15        9    109   207        0        3   69.00  11.39   36.33  2/17    2/17   0   0    0
32     14691   Test          Dhruv Jurel        4        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
33     14691    ODI          Dhruv Jurel        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
34     14691    T20          Dhruv Jurel        4        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
35     14691    IPL          Dhruv Jurel       27        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
36     13810   Test          Jamie Smith        9        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
37     13810    ODI          Jamie Smith       10        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
38     13810    T20          Jamie Smith        2        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
39     13810    IPL          Jamie Smith        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
40      7915   Test     Suryakumar Yadav        1        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
41      7915    ODI     Suryakumar Yadav       37        1     12    17        0        0    0.00   8.50    0.00  0/17    0/17   0   0    0
42      7915    T20     Suryakumar Yadav       83        1      6     5        0        2    2.50   5.00    3.00   2/5     2/5   0   0    0
43      7915    IPL     Suryakumar Yadav      150        1      6     8        0        0    0.00   8.00    0.00   0/8     0/8   0   0    0
44     12086   Test      Abhishek Sharma        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
45     12086    ODI      Abhishek Sharma        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
46     12086    T20      Abhishek Sharma       17       10    114   153        0        6   25.50   8.05   19.00   2/3     2/3   0   0    0
47     12086    IPL      Abhishek Sharma       63       26    270   389        0       11   35.36   8.64   24.55   2/4     2/4   0   0    0
48     10896   Test          Rinku Singh        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
49     10896    ODI          Rinku Singh        2        1      6     2        0        1    2.00   2.00    6.00   1/2     1/2   0   0    0
50     10896    T20          Rinku Singh       33        1      6     3        0        2    1.50   3.00    3.00   2/3     2/3   0   0    0
51     10896    IPL          Rinku Singh       45        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
52     11195   Test          Shivam Dube        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
53     11195    ODI          Shivam Dube        4        4    107   106        0        1  106.00   5.94  107.00  1/19    1/19   0   0    0
54     11195    T20          Shivam Dube       35       24    285   445        0       13   34.23   9.37   21.92  3/30    3/30   0   0    0
55     11195    IPL          Shivam Dube       65       14    112   180        0        5   36.00   9.64   22.40  2/15    2/15   0   0    0
56     14504   Test          Tilak Varma        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
57     14504    ODI          Tilak Varma        4        2     42    39        0        0    0.00   5.57    0.00  0/18    0/18   0   0    0
58     14504    T20          Tilak Varma       25        3     30    26        0        2   13.00   5.20   15.00   1/5     1/5   0   0    0
59     14504    IPL          Tilak Varma       38        4     22    28        0        0    0.00   7.64    0.00   0/6     0/6   0   0    0
60     14659   Test         Ravi Bishnoi        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
61     14659    ODI         Ravi Bishnoi        1        1     48    69        0        1   69.00   8.63   48.00  1/69    1/69   0   0    0
62     14659    T20         Ravi Bishnoi       42       42    964  1182        3       61   19.38   7.36   15.80  4/13    4/13   2   0    0
63     14659    IPL         Ravi Bishnoi       66       65   1411  1836        1       63   29.14   7.81   22.40  3/24    3/24   0   0    0
64     19636   Test        Jacob Bethell        3        2     92    77        0        3   25.67   5.02   30.67  3/72    3/72   0   0    0
65     19636    ODI        Jacob Bethell        9        7    138   162        1        5   32.40   7.04   27.60  2/33    2/33   0   0    0
66     19636    T20        Jacob Bethell       10        1     18    28        0        0    0.00   9.33    0.00  0/28    0/28   0   0    0
67     19636    IPL        Jacob Bethell        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
68     11436   Test         Brydon Carse        5       10    937   536       22       27   19.85   3.43   34.70  6/42  10/106   2   1    1
69     11436    ODI         Brydon Carse       21       20    874   947        0       24   39.46   6.50   36.42  5/61    5/61   0   1    0
70     11436    T20         Brydon Carse        8        8    168   226        0       15   15.07   8.07   11.20  3/23    3/23   0   0    0
71     11436    IPL         Brydon Carse        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
72     13940   Test     Yashasvi Jaiswal       19        1      6     6        0        0    0.00   6.00    0.00   0/6     0/6   0   0    0
73     13940    ODI     Yashasvi Jaiswal        1        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
74     13940    T20     Yashasvi Jaiswal       23        1      6    11        0        0    0.00  11.00    0.00  0/11    0/11   0   0    0
75     13940    IPL     Yashasvi Jaiswal       52        1      1     6        0        0    0.00   0.00    0.00   0/6     0/6   0   0    0
76      8512   Test        Jamie Overton        1        2    222   146        4        2   73.00   3.95  111.00  1/61   2/146   0   0    0
77      8512    ODI        Jamie Overton        5        4    144   150        0        4   37.50   6.25   36.00  2/27    2/27   0   0    0
78      8512    T20        Jamie Overton       12        8    136   186        0       11   16.91   8.21   12.36  3/20    3/20   0   0    0
79      8512    IPL        Jamie Overton        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
80     13217   Test       Arshdeep Singh        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
81     13217    ODI       Arshdeep Singh        9        8    373   322        2       14   23.00   5.18   26.64  5/37    5/37   1   1    0
82     13217    T20       Arshdeep Singh       63       63   1310  1812        2       99   18.30   8.30   13.23   4/9     4/9   2   0    0
83     13217    IPL       Arshdeep Singh       65       65   1364  2052        1       76   27.00   9.03   17.95  5/32    5/32   2   1    0
84     10945   Test    Washington Sundar        9       16   1173   641       19       25   25.64   3.28   46.92  7/59  11/115   2   1    1
85     10945    ODI    Washington Sundar       23       20    828   669        5       24   27.88   4.85   34.50  3/30    3/30   0   0    0
86     10945    T20    Washington Sundar       54       52    975  1128        1       48   23.50   6.94   20.31  3/15    3/15   0   0    0
87     10945    IPL    Washington Sundar       60       58   1054  1325        1       37   35.81   7.54   28.49  3/16    3/16   0   0    0
88     12926   Test  Varun Chakaravarthy        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
89     12926    ODI  Varun Chakaravarthy        4        4    240   190        0       10   19.00   4.75   24.00  5/42    5/42   0   1    0
90     12926    T20  Varun Chakaravarthy       18       18    411   481        0       33   14.58   7.02   12.45  5/17    5/17   0   2    0
91     12926    IPL  Varun Chakaravarthy       70       70   1588  2002        1       83   24.12   7.56   19.13  5/20    5/20   1   1    0
92     12254   Test           Tom Banton        0        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
93     12254    ODI           Tom Banton        7        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
94     12254    T20           Tom Banton       14        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0
95     12254    IPL           Tom Banton        2        0      0     0        0        0    0.00   0.00    0.00   -/-     -/-   0   0    0

In [ ]:
# all_records = []

# for player_id in team_p['ID']:
#     data = fetch_player_data(player_id)
#     player_name = team_p.loc[team_p['ID'] == player_id,'NAME'].values[0]
#     records = process_data(data, player_id, player_name)
#     all_records.extend(records)
    
# player_stats_df = pd.DataFrame(all_records)
# print(player_stats_df.to_string())

In [ ]:
# for index, row in player_stats_df.iterrows():
#     insert_query = f"""
#     INSERT INTO PLAYER_BATTING_STATS (
#         PlayerID, PlayerName, Format, Matches, Innings, Runs, Balls, Highest, Average, SR, NotOut, Fours, Sixes, Ducks, Fifties, Hundreds, DoubleHundreds, TripleHundreds, QuadrupleHundreds
#     ) VALUES (
#         {row['PlayerID']}, '{row['PlayerName']}', '{row['Format']}', {row['Matches']}, {row['Innings']}, {row['Runs']}, {row['Balls']}, {row['Highest']}, {row['Average']}, {row['SR']}, {row['Not Out']}, {row['Fours']}, {row['Sixes']}, {row['Ducks']}, {row['50s']}, {row['100s']}, {row['200s']}, {row['300s']}, {row['400s']}
#     )
#     """
#     cs.execute(insert_query)

In [34]:
for index, row in player_stats_df.iterrows():
    insert_query = f"""
    INSERT INTO PLAYER_BOWLING_STATS (
        PlayerID, PlayerName, Format, Matches, Innings, Balls, Runs, Maidens, Wickets,Avg,Eco, SR, BBI, BBM , FourW , FiveW , TenW
    ) VALUES (
        {row['PlayerID']}, '{row['PlayerName']}', '{row['Format']}', {row['Matches']}, {row['Innings']}, {row['Balls']},{row['Runs']}, {row['Maidens']}, {row['Wickets']}, {row['Avg']}, {row['Eco']}, {row['SR']}, '{row['BBI']}', '{row['BBM']}', {row['4w']}, {row['5w']}, {row['10w']}
    )
    """
    cs.execute(insert_query)

In [142]:
# curr = conn.cursor(DictCursor)
# curr.execute('SELECT * FROM PLAYER_BATTING_STATS')
# data_table = curr.fetchall()
# player_batting = pd.DataFrame(data_table)


curr = conn.cursor(DictCursor)
curr.execute('SELECT * FROM PLAYER_BOWLING_STATS')
data_table = curr.fetchall()
player_batting = pd.DataFrame(data_table)

In [ ]:
print(player_batting.to_string())